In [150]:
import pandas as pd

In [151]:
canada=pd.read_csv('canada_per_capita_income.csv')

In [152]:
canada.head(10)

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583
5  1975              5998.144346
6  1976              7062.131392
7  1977              7100.126170
8  1978              7247.967035
9  1979              7602.912681

In [153]:
canada.shape

(47, 2)

In [154]:
from sklearn.model_selection import train_test_split

In [155]:
x=canada[['year']]
y=canada['per capita income (US$)']

In [156]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=2)

In [157]:

y_train

43    42676.468370
45    35175.188980
13    10416.536590
14    10790.328720
0      3399.299037
2      4251.175484
9      7602.912681
17    12974.806620
30    18987.382410
25    16369.317250
44    41039.893600
29    17581.024140
27    17310.757750
1      3768.297935
24    15755.820270
33    22739.426280
38    37446.486090
19    16426.725480
36    32738.262900
10     8355.968120
4      5576.514583
6      7062.131392
3      4804.463248
39    32755.176820
5      5998.144346
32    19232.175560
28    16622.671870
20    16838.673200
26    16699.826680
37    36144.481220
21    17266.097690
41    42334.711210
31    18601.397240
34    25719.147150
7      7100.126170
46    34229.193630
11     9434.390652
18    15080.283450
22    16412.083090
8      7247.967035
15    11018.955850
40    38420.522890
Name: per capita income (US$), dtype: float64

In [158]:
from sklearn.linear_model import LinearRegression 
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [159]:
model.score(x_train,y_train)

0.8892171219934921

TASK -2

In [160]:
salary=pd.read_csv('salaries.csv')
salary

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [161]:
salary.shape

(16, 4)

In [162]:
salary['company'].value_counts()

company
google        6
facebook      6
abc pharma    4
Name: count, dtype: int64

In [163]:
salary['job'].value_counts()

job
business manager       6
sales executive        5
computer programmer    5
Name: count, dtype: int64

In [164]:
salary['job'].value_counts()

job
business manager       6
sales executive        5
computer programmer    5
Name: count, dtype: int64

In [165]:
salary['degree'].value_counts()

degree
bachelors    8
masters      8
Name: count, dtype: int64

In [166]:
salary['company']=salary['company'].replace({'google':0,'facebook':1,'abc pharma':2})
salary['job']=salary['job'].replace({'business manager':0,'sales executive':1,'computer programmer':2})
salary['degree']=salary['degree'].replace({'bachelors':0,'masters':1})

In [167]:
salary

    company  job  degree  salary_more_then_100k
0         0    1       0                      0
1         0    1       1                      0
2         0    0       0                      1
3         0    0       1                      1
4         0    2       0                      0
5         0    2       1                      1
6         2    1       1                      0
7         2    2       0                      0
8         2    0       0                      0
9         2    0       1                      1
10        1    1       0                      1
11        1    1       1                      1
12        1    0       0                      1
13        1    0       1                      1
14        1    2       0                      1
15        1    2       1                      1

In [168]:
salary.corr()

,company,job,degree,salary_more_then_100k
company,1.000000e+00,-0.108941,2.222225e-17,-0.124035
job,-1.089410e-01,1.000000,-7.559289e-02,-0.214698
degree,2.222225e-17,-0.075593,1.000000e+00,0.258199
salary_more_then_100k,-1.240347e-01,-0.214698,2.581989e-01,1.000000

In [169]:
x1=salary.drop(columns=['salary_more_then_100k','job'])
y1=salary['salary_more_then_100k']

In [170]:
from sklearn.tree import DecisionTreeClassifier
model1=DecisionTreeClassifier()
model1.fit(x1,y1)

DecisionTreeClassifier()

In [171]:
model1.score(x1,y1)

0.8125

LOGISTIC REGRESSION

In [172]:
from sklearn.linear_model import LogisticRegression

In [173]:
model3=LogisticRegression()
model3.fit(x1,y1)

LogisticRegression()

In [174]:
model3.score(x1,y1)

0.625

In [175]:
titanic=pd.read_csv('titanic.csv')

In [176]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [181]:
x = titanic.drop(columns = ['PassengerId','Survived','Pclass','Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked'])

In [182]:
x

        Sex   Age
0      male  22.0
1    female  38.0
2    female  26.0
3    female  35.0
4      male  35.0
..      ...   ...
886    male  27.0
887  female  19.0
888  female   NaN
889    male  26.0
890    male  32.0

[891 rows x 2 columns]

In [185]:
x['Sex']= x['Sex'].replace({'male':0 , 'female':1})

In [186]:
x

     Sex   Age
0      0  22.0
1      1  38.0
2      1  26.0
3      1  35.0
4      0  35.0
..   ...   ...
886    0  27.0
887    1  19.0
888    1   NaN
889    0  26.0
890    0  32.0

[891 rows x 2 columns]

In [188]:
mee = x['Age'].mean()

In [189]:
x['Age'] =  x['Age'].fillna(mee)

In [190]:
x

     Sex        Age
0      0  22.000000
1      1  38.000000
2      1  26.000000
3      1  35.000000
4      0  35.000000
..   ...        ...
886    0  27.000000
887    1  19.000000
888    1  29.699118
889    0  26.000000
890    0  32.000000

[891 rows x 2 columns]

In [191]:
y = titanic['Survived']

In [192]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [197]:
x_train,x_test,y_train,y_test = train_test_split(x,y)
tit_model_linear = DecisionTreeClassifier()

In [198]:
tit_model_linear.fit(x_train,y_train)

DecisionTreeClassifier()

In [199]:
tit_model_linear.score(x_test,y_test)

0.7892376681614349

In [ ]:
tit_model_linear =